<a href="https://colab.research.google.com/github/manojcsathreya/Pandas/blob/main/13_Working_with_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
a = pd.DataFrame(np.arange(16).reshape(4,4),
                 index = [1,2,1,2],
                 columns=list('abcd'))
a

    a   b   c   d
1   0   1   2   3
2   4   5   6   7
1   8   9  10  11
2  12  13  14  15

In [6]:
b = a.groupby(a.index)

In [7]:
b

In [8]:
for i,j in b:
  print(i)
  print('=============')
  print(j)

1
=============
   a  b   c   d
1  0  1   2   3
1  8  9  10  11
2
=============
    a   b   c   d
2   4   5   6   7
2  12  13  14  15

In [18]:
def f(x):
  return x.min()
b.agg(f)

   a  b  c  d
1  0  1  2  3
2  4  5  6  7

In [19]:
data=pd.DataFrame({"letter":list("ABC")*4,
                   "num":["one","two"]*6,
                   "d1":np.random.randn(12),
                   "d2":np.arange(10,33,2)})

In [20]:
data

   letter  num        d1  d2
0       A  one -1.540893  10
1       B  two  0.757393  12
2       C  one -0.928048  14
3       A  two  0.627174  16
4       B  one -1.029876  18
5       C  two -2.418981  20
6       A  one  1.087568  22
7       B  two -0.745548  24
8       C  one -0.164525  26
9       A  two  1.086905  28
10      B  one -0.723033  30
11      C  two -2.690127  32

In [21]:
group=data.groupby(["letter","num"])

In [22]:
group_d1=group["d1"]

In [23]:
group_d1.agg("mean")

letter  num
A       one   -0.226662
        two    0.857040
B       one   -0.876455
        two    0.005923
C       one   -0.546287
        two   -2.554554
Name: d1, dtype: float64

In [24]:
group_d1.agg(["mean","std",f])

                mean       std         f
letter num
A      one -0.226662  1.858602 -1.540893
       two  0.857040  0.325079  0.627174
B      one -0.876455  0.216971 -1.029876
       two  0.005923  1.062740 -0.745548
C      one -0.546287  0.539892 -0.928048
       two -2.554554  0.191729 -2.690127

In [25]:
#naming the fucntions the way we want
group_d1.agg([("f_mean","mean"),
              ("f_std",np.std)])

              f_mean     f_std
letter num
A      one -0.226662  1.858602
       two  0.857040  0.325079
B      one -0.876455  0.216971
       two  0.005923  1.062740
C      one -0.546287  0.539892
       two -2.554554  0.191729

In [26]:
#applying desired functions to desiered columns
group.agg({"d1":["count","max","mean"],
           "d2":"sum"})

group.agg({'d1':["count","max","mean"],
            'd2':'sum'})

              d1                      d2
           count       max      mean sum
letter num
A      one     2  1.087568 -0.226662  32
       two     2  1.086905  0.857040  44
B      one     2 -0.723033 -0.876455  48
       two     2  0.757393  0.005923  36
C      one     2 -0.164525 -0.546287  40
       two     2 -2.418981 -2.554554  52

In [27]:
data.groupby(["letter","num"],
             as_index=False).mean()

  letter  num        d1    d2
0      A  one -0.226662  16.0
1      A  two  0.857040  22.0
2      B  one -0.876455  24.0
3      B  two  0.005923  18.0
4      C  one -0.546287  20.0
5      C  two -2.554554  26.0

In [28]:
data

   letter  num        d1  d2
0       A  one -1.540893  10
1       B  two  0.757393  12
2       C  one -0.928048  14
3       A  two  0.627174  16
4       B  one -1.029876  18
5       C  two -2.418981  20
6       A  one  1.087568  22
7       B  two -0.745548  24
8       C  one -0.164525  26
9       A  two  1.086905  28
10      B  one -0.723033  30
11      C  two -2.690127  32

In [30]:
group = data.groupby('letter')

In [32]:
group['d2'].apply(lambda x: x.describe())

letter
A       count     4.000000
        mean     19.000000
        std       7.745967
        min      10.000000
        25%      14.500000
        50%      19.000000
        75%      23.500000
        max      28.000000
B       count     4.000000
        mean     21.000000
        std       7.745967
        min      12.000000
        25%      16.500000
        50%      21.000000
        75%      25.500000
        max      30.000000
C       count     4.000000
        mean     23.000000
        std       7.745967
        min      14.000000
        25%      18.500000
        50%      23.000000
        75%      27.500000
        max      32.000000
Name: d2, dtype: float64

In [33]:
math=pd.DataFrame({"Class":list("AB")*3,
                   "Stu":["Kim","Sam",
                          "Tim","Tom","John","Kate"],
                   "Score":[60,70,np.nan,
                            55,np.nan,80]})
math

  Class   Stu  Score
0     A   Kim   60.0
1     B   Sam   70.0
2     A   Tim    NaN
3     B   Tom   55.0
4     A  John    NaN
5     B  Kate   80.0

In [36]:
grp = math.groupby('Class')

In [37]:
grp.mean()

           Score
Class
A      60.000000
B      68.333333

In [38]:
func = lambda f:f.fillna(f.mean())

In [39]:
grp.apply(func)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

        Class   Stu  Score
Class
A     0     A   Kim   60.0
      2     A   Tim   60.0
      4     A  John   60.0
B     1     B   Sam   70.0
      3     B   Tom   55.0
      5     B  Kate   80.0