<a href="https://colab.research.google.com/github/manojcsathreya/Pandas/blob/main/14_Pivot_tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame(
    {"class":list("ABC")*4,
     "lesson":["math","stat"]*6,
     "sex":list("MFMM")*3,
     "sibling":[1,2,3]*4,
     "score":np.arange(40,100,5)})

In [3]:
df

   class lesson sex  sibling  score
0      A   math   M        1     40
1      B   stat   F        2     45
2      C   math   M        3     50
3      A   stat   M        1     55
4      B   math   M        2     60
5      C   stat   F        3     65
6      A   math   M        1     70
7      B   stat   M        2     75
8      C   math   M        3     80
9      A   stat   F        1     85
10     B   math   M        2     90
11     C   stat   M        3     95

In [4]:
df.groupby("lesson")["score"].mean()

lesson
math    65.0
stat    70.0
Name: score, dtype: float64

In [5]:
df.groupby(
    ["lesson","class"])["score"].aggregate("mean")

lesson  class
math    A        55.0
        B        75.0
        C        65.0
stat    A        70.0
        B        60.0
        C        80.0
Name: score, dtype: float64

In [6]:
df.groupby(
    ["lesson","class"])["score"].aggregate("mean").unstack()

class      A     B     C
lesson
math    55.0  75.0  65.0
stat    70.0  60.0  80.0

The groupby method is generally enough for two-dimensional operations, but pivot_table is used for multi-dimensional grouping operations.

In [8]:
df.pivot_table("score",index="lesson",columns="class")

class    A   B   C
lesson
math    55  75  65
stat    70  60  80

In [10]:
df

   class lesson sex  sibling  score
0      A   math   M        1     40
1      B   stat   F        2     45
2      C   math   M        3     50
3      A   stat   M        1     55
4      B   math   M        2     60
5      C   stat   F        3     65
6      A   math   M        1     70
7      B   stat   M        2     75
8      C   math   M        3     80
9      A   stat   F        1     85
10     B   math   M        2     90
11     C   stat   M        3     95

In [9]:
df.pivot_table(["sibling","score"],index=["class","lesson"],columns="sex")

             score       sibling
sex              F     M       F    M
class lesson
A     math     NaN  55.0     NaN  1.0
      stat    85.0  55.0     1.0  1.0
B     math     NaN  75.0     NaN  2.0
      stat    45.0  75.0     2.0  2.0
C     math     NaN  65.0     NaN  3.0
      stat    65.0  95.0     3.0  3.0

In [15]:
#we can get the mean of the columns on setting margin parameter to True
df.pivot_table(["sibling","score"],index=["class","lesson"],columns="sex",margins=True)['score']['All']

[55.0, 70.0, 75.0, 60.0, 65.0, 80.0, 67.5]

In [22]:
#To fill the null values with the specified value
df.pivot_table(["sibling","score"],index=["class","lesson"],columns="sex",fill_value=0)

             score     sibling
sex              F   M       F  M
class lesson
A     math       0  55       0  1
      stat      85  55       1  1
B     math       0  75       0  2
      stat      45  75       2  2
C     math       0  65       0  3
      stat      65  95       3  3

In [23]:
sib=pd.cut(df["sibling"],[0,2,3])

In [24]:
sib

0     (0, 2]
1     (0, 2]
2     (2, 3]
3     (0, 2]
4     (0, 2]
5     (2, 3]
6     (0, 2]
7     (0, 2]
8     (2, 3]
9     (0, 2]
10    (0, 2]
11    (2, 3]
Name: sibling, dtype: category
Categories (2, interval[int64, right]): [(0, 2] < (2, 3]]

In [25]:
df.pivot_table("score",
               ["lesson",sib],
               "class",fill_value=0)

class            A   B   C
lesson sibling
math   (0, 2]   55  75   0
       (2, 3]    0   0  65
stat   (0, 2]   70  60   0
       (2, 3]    0   0  80

In [26]:
#we can use aggresgation functions
df.pivot_table(
    "score",
    index="lesson",
    columns="class")

class    A   B   C
lesson
math    55  75  65
stat    70  60  80

In [27]:
#the above method gives the mean. But what if we wanted the sum?
df.pivot_table(
    "score",
    index="lesson",
    columns="class",
    aggfunc='sum')

class     A    B    C
lesson
math    110  150  130
stat    140  120  160

In [28]:
df.pivot_table(
    index="lesson",
    columns="class",
    aggfunc="sum")

       score           sibling
class      A    B    C       A  B  C
lesson
math     110  150  130       2  4  6
stat     140  120  160       2  4  6

In [30]:
#if we want to apply different functions on different columns?
df.pivot_table(
    index="lesson",
    columns="class",
    aggfunc={'score': 'max',
             'sibling':'sum'})

       score         sibling
class      A   B   C       A  B  C
lesson
math      70  90  80       2  4  6
stat      85  75  95       2  4  6

In [31]:
#crosstab functions

In [32]:
pd.crosstab(df.sibling,df.lesson)

lesson   math  stat
sibling
1           2     2
2           2     2
3           2     2

In [33]:
pd.crosstab([df.sibling, df.lesson], df.sex)

sex             F  M
sibling lesson
1       math    0  2
        stat    1  1
2       math    0  2
        stat    1  1
3       math    0  2
        stat    1  1

In [34]:
pd.crosstab([df.sibling, df.lesson], df.sex)

sex             F  M
sibling lesson
1       math    0  2
        stat    1  1
2       math    0  2
        stat    1  1
3       math    0  2
        stat    1  1