<a href="https://colab.research.google.com/github/manojcsathreya/Pandas/blob/main/4_Pandas_Arithmatic_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
s1 = pd.Series(np.arange(4),index = list('acde'))
s2 = pd.Series(np.arange(5),index = list('acefg'))

In [6]:
s1,s2

(a    0
 c    1
 d    2
 e    3
 dtype: int64, a    0
 c    1
 e    2
 f    3
 g    4
 dtype: int64)

In [7]:
#Addition in pandas
s1+s2

a    0.0
c    2.0
d    NaN
e    5.0
f    NaN
g    NaN
dtype: float64

In [8]:
df1=pd.DataFrame(
    np.arange(6).reshape(2,3),
    columns=list("ABC"),
    index=["Tim","Tom"])
df2=pd.DataFrame(
    np.arange(9).reshape(3,3),
    columns=list("ACD"),
    index=["Tim","Kate","Tom"])
print(df1)
print(df2)

     A  B  C
Tim  0  1  2
Tom  3  4  5
      A  C  D
Tim   0  1  2
Kate  3  4  5
Tom   6  7  8

In [9]:
df1+df2

        A   B     C   D
Kate  NaN NaN   NaN NaN
Tim   0.0 NaN   3.0 NaN
Tom   9.0 NaN  12.0 NaN

In [10]:
df1.A+df2.A

Kate    NaN
Tim     0.0
Tom     9.0
Name: A, dtype: float64

In [16]:
#to replace the NaN values 
df1.add(df2,fill_value=0)

        A    B     C    D
Kate  3.0  NaN   4.0  5.0
Tim   0.0  1.0   3.0  2.0
Tom   9.0  4.0  12.0  8.0

In [17]:
1/df1

            A     B    C
Tim       inf  1.00  0.5
Tom  0.333333  0.25  0.2

In [18]:
df1*3

     A   B   C
Tim  0   3   6
Tom  9  12  15

In [19]:
s=df2.iloc[1]
s

A    3
C    4
D    5
Name: Kate, dtype: int64

In [20]:
df2

      A  C  D
Tim   0  1  2
Kate  3  4  5
Tom   6  7  8

In [21]:
df2-s

      A  C  D
Tim  -3 -3 -3
Kate  0  0  0
Tom   3  3  3

In [25]:
##Applying a Function

In [26]:
df=pd.DataFrame(
    np.random.randn(4,3),
    columns=list("ABC"),
    index=["Kim","Susan","Tim","Tom"])
df

              A         B         C
Kim   -0.652926 -1.307650 -0.818870
Susan  1.303988 -0.834806 -3.036792
Tim    1.909834 -1.446310  0.253802
Tom    2.076148 -0.484373 -1.401305

In [27]:
np.abs(df)

              A         B         C
Kim    0.652926  1.307650  0.818870
Susan  1.303988  0.834806  3.036792
Tim    1.909834  1.446310  0.253802
Tom    2.076148  0.484373  1.401305

In [28]:
f=lambda x:x.max()-x.min()

In [30]:
df.apply(f)

A    2.729074
B    0.961936
C    3.290594
dtype: float64

In [31]:
df.apply(f,axis=1)

Kim      0.654724
Susan    4.340779
Tim      3.356144
Tom      3.477453
dtype: float64

In [32]:
df.apply(lambda x: x**2)

              A         B         C
Kim    0.426312  1.709948  0.670547
Susan  1.700384  0.696901  9.222103
Tim    3.647467  2.091811  0.064416
Tom    4.310391  0.234617  1.963656