<a href="https://colab.research.google.com/github/manojcsathreya/Pandas/blob/main/7_Pandas_Reading_and_Writing_data_in_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_table('https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/data2.txt')

In [ ]:
df

    Tom,80,M
0   Tim,85,M
1   Kim,70,M
2  Kate,90,F
3  Alex,75,F

In [ ]:
#we can use the sep parameter to indicate that vales are seperated on that parameter
df = pd.read_table('https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/data2.txt',sep=',')

In [ ]:
df

    Tom  80  M
0   Tim  85  M
1   Kim  70  M
2  Kate  90  F
3  Alex  75  F

In [ ]:
#oops, we don't want first row to be considered as header
df.loc[-1] = df.columns.to_list()

In [ ]:
df

     Tom  80  M
 0   Tim  85  M
 1   Kim  70  M
 2  Kate  90  F
 3  Alex  75  F
-1   Tom  80  M

In [ ]:
df.index+=1

In [ ]:
df

    Tom  80  M
1   Tim  85  M
2   Kim  70  M
3  Kate  90  F
4  Alex  75  F
0   Tom  80  M

In [ ]:
df = df.sort_index()

In [ ]:
df

    Tom  80  M
0   Tom  80  M
1   Tim  85  M
2   Kim  70  M
3  Kate  90  F
4  Alex  75  F

In [ ]:
#or while reading, we can also
df = pd.read_csv('https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/data2.txt',sep=',',header=None)

In [ ]:
df

      0   1  2
0   Tom  80  M
1   Tim  85  M
2   Kim  70  M
3  Kate  90  F
4  Alex  75  F

In [ ]:
#now, we can define pur own header using
df.columns = ['Name','Age','Sex']
df

   Name  Age Sex
0   Tom   80   M
1   Tim   85   M
2   Kim   70   M
3  Kate   90   F
4  Alex   75   F

In [ ]:
#we can alos do this while reading the csv file
df = pd.read_csv('https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/data2.txt',sep=',',header=None,names=['Name','Age','Sex'])

In [ ]:
df

   Name  Age Sex
0   Tom   80   M
1   Tim   85   M
2   Kim   70   M
3  Kate   90   F
4  Alex   75   F

To set index

In [ ]:
#Once we read the data, we can set the index to one of the columns
df.index = df['Name']
df

      Name  Age Sex
Name
Tom    Tom   80   M
Tim    Tim   85   M
Kim    Kim   70   M
Kate  Kate   90   F
Alex  Alex   75   F

In [ ]:
df.drop(columns='Name')

      Age Sex
Name
Tom    80   M
Tim    85   M
Kim    70   M
Kate   90   F
Alex   75   F

In [ ]:
#or while reading the data, we can use
df = pd.read_csv('https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/data2.txt',sep=',',header=None,names=['Name','Age','Sex'],index_col='Name')
df

      Age Sex
Name
Tom    80   M
Tim    85   M
Kim    70   M
Kate   90   F
Alex   75   F

EASY!

In [ ]:
#if we want multiple columns to be our indexes,
df2=pd.read_table("https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/data3.txt",
                  sep=",",index_col=['lesson','name'])
df2

             one  two
lesson name
Math   Kim    80   85
       Tim    90   70
       Tom    70   95
Stat   Kate   65   90
       Alex   85   80
       Sam    55   70

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/data4.txt')
df

                          #hello
name                score    sex
#scores of students NaN      NaN
Tim                 80         M
Kate                85         F
Alex                70         M
Tom                 90         M
Kim                 75         F

In [ ]:
#we can skip the rows while reading the data
df = pd.read_csv('https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/data4.txt',skiprows=[0,2])
df

   name  score sex
0   Tim     80   M
1  Kate     85   F
2  Alex     70   M
3   Tom     90   M
4   Kim     75   F

In [ ]:
#usecolumns
df = pd.read_csv('https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/data4.txt',sep=',',skiprows = [0,2], usecols=[1,0])
df

   name  score
0   Tim     80
1  Kate     85
2  Alex     70
3   Tom     90
4   Kim     75

In [ ]:
#nrows: we can specify the number of rows we want to read
df = pd.read_csv('https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/data4.txt',sep=',',skiprows = [0,2], usecols=[1,0] ,nrows=3)
df

   name  score
0   Tim     80
1  Kate     85
2  Alex     70

In [ ]:
#writing to file

In [ ]:
#we can use df.to_csv(filename) to write data to file